:root {
  --light-blue: #23a6f0;
  --light-grey: #737373;

  --header-font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.header-top {
  background-color: #252b42;
  color: #ffffff;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  height: 3.625rem;
  padding: 0 2rem;
  font-size: var(--header-font-size);
}

.list-style {
  display: flex;
}

.list-style li {
  margin-right: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

address {
  font-style: normal;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
  border-bottom: 0.1px solid black;
  font-size: var(--header-font-size);

  h3 {
    font-size: 24px;
  }
}

.brand-and-navigation {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.action-buttons {
  display: flex;
  gap: 2rem;
  color: var(--light-blue);

  img {
    width: 0.9rem;
  }
}

.auth {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

.auth .list-style li {
  margin-right: 3px;
}

.navigation-header {
  color: var(--light-grey);
  font-weight: bold;
}

.navigation-header li a {
  color: inherit;
  text-decoration: none;
}

.navigation-header li a:hover {
  fill: red;
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.search-and-cart {
  img {
    width: 1.05rem;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 6.5rem;
  padding: 0.5rem 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
